<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<dict>
			<key>maximumValue</key>
			<integer>140</integer>
			<key>minimumValue</key>
			<integer>23</integer>
			<key>lowerValue</key>
			<integer>33</integer>
			<key>upperValue</key>
			<integer>124</integer>
			<key>minimumRange</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>PM2.5</string>
	</dict>
	<dict>
		<key>data</key>
		<dict>
			<key>maximumValue</key>
			<integer>140</integer>
			<key>minimumValue</key>
			<integer>23</integer>
			<key>lowerValue</key>
			<integer>33</integer>
			<key>upperValue</key>
			<integer>124</integer>
			<key>minimumRange</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>AQI</string>
	</dict>
	<dict>
		<key>data</key>
		<dict>
			<key>maximumValue</key>
			<integer>140</integer>
			<key>minimumValue</key>
			<integer>23</integer>
			<key>lowerValue</key>
			<integer>43</integer>
			<key>upperValue</key>
			<integer>128</integer>
			<key>minimumRange</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>温度</string>
	</dict>
	<dict>
		<key>data</key>
		<dict>
			<key>maximumValue</key>
			<integer>140</integer>
			<key>minimumValue</key>
			<integer>23</integer>
			<key>lowerValue</key>
			<integer>38</integer>
			<key>upperValue</key>
			<integer>114</integer>
			<key>minimumRange</key>
			<integer>0</integer>
		</dict>
		<key>title</key>
		<string>湿度</string>
	</dict>
</array>
</plist>
